* {
  font-family: "Roboto Light", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F2F2F2;
}
body aside {
  display: grid;
  grid-template-areas: "_header" "_container" "_footer";
  grid-template-rows: 500px 627px 500px;
  width: 100%;
}
body aside .header {
  display: grid;
  grid-area: _header;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  margin-top: 20px;
}
body aside .header .logo {
  text-align: center;
  background-color: #faffbb;
}
body aside .header .logo img {
  position: relative;
  top: 75px;
}
body aside .header #testet {
  height: 417px;
}
body aside .header #testet .my-name {
  position: relative;
  top: 20px;
}
body aside .header #testet .profile-img {
  position: relative;
  top: 20px;
}
body aside .header #testet .time {
  position: relative;
  top: 20px;
}
body aside .header .head-item ul {
  position: relative;
  margin-left: 40px;
}
body aside .header .head-item ul li {
  width: 250px;
  list-style-type: none;
}
body aside .header .head-item ul li span {
  display: block;
  margin-top: 5px;
}
body aside .header .head-item ul li .cat {
  font-size: 12px;
  color: white;
  background-color: #47BCD4;
  border-radius: 20px;
  width: 102px;
  height: 19px;
  line-height: 19px;
  text-align: center;
}
body aside .header .head-item ul li .cat-img {
  position: relative;
  width: 280px;
  right: 28px;
}
body aside .header .head-item ul li .head {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  color: #10182F;
  line-height: 22px;
}
body aside .header .head-item ul li .sub-text {
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 20px;
  color: #10182F;
}
body aside .header .head-item ul li .my-name {
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
body aside .header .head-item ul li .profile-img {
  margin-right: 250px;
}
body aside .header .head-item ul li .time {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #545D7A;
  text-align: left;
}
body aside .container {
  display: grid;
  grid-area: _container;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
body aside .container .classitem1 {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 30px 75px -35px rgba(35, 68, 126, 0.388877);
  border-radius: 15px;
  height: 200px;
}
body aside .container .classitem1 h1 {
  font-weight: 700;
  font-size: 22px;
  float: left;
  position: relative;
  left: 50px;
  height: 28px;
  top: 20px;
}
body aside .container .classitem1 span {
  display: flex;
  flex-wrap: wrap;
}
body aside .container .classitem1 span:nth-child(2) {
  color: #181D39;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  opacity: 50%;
  position: relative;
  top: 22px;
  left: 70px;
}
body aside .container .classitem1 span:nth-child(4) {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  position: absolute;
  top: 25px;
  left: 500px;
}
body aside .container .classitem1 span:nth-child(5) {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 48px;
  text-align: left;
  margin-left: 50px;
  position: relative;
  top: 50px;
  left: 0;
  display: flex;
  max-width: 300px;
}
body aside .container .classitem1 ul {
  margin-left: 0;
  height: 29px;
  margin-top: 30px;
  position: relative;
  top: 45px;
  left: 45px;
}
body aside .container .classitem1 ul li {
  padding-left: 5px;
  height: 29px;
  float: left;
  list-style-type: none;
}
body aside .container .classitem1 ul li a {
  text-decoration: none;
}
body aside .container .classitem1 img {
  position: absolute;
  top: 20px;
  left: 460px;
}
body aside .container .classitem2 {
  position: relative;
  background: #272E69;
  box-shadow: 0 30px 75px -35px rgba(35, 68, 126, 0.388877);
  border-radius: 15px;
  height: 200px;
}
body aside .container .classitem2 h1 {
  font-weight: 700;
  font-size: 22px;
  float: left;
  position: absolute;
  left: 50px;
  height: 28px;
  top: 20px;
  color: #FFFFFF;
}
body aside .container .classitem2 span {
  display: flex;
  flex-wrap: wrap;
}
body aside .container .classitem2 span:nth-child(2) {
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  opacity: 50%;
  position: absolute;
  top: 22px;
  left: 120px;
}
body aside .container .classitem2 span:nth-child(4) {
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  position: absolute;
  top: 25px;
  left: 500px;
}
body aside .container .classitem2 span:nth-child(5) {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 48px;
  text-align: left;
  margin-left: 50px;
  position: relative;
  top: 50px;
  left: 0;
  display: flex;
  max-width: 300px;
  color: white;
}
body aside .container .classitem2 ul {
  margin-left: 0;
  height: 29px;
  margin-top: 30px;
  position: relative;
  top: 45px;
  left: 45px;
}
body aside .container .classitem2 ul li {
  padding-left: 5px;
  height: 29px;
  float: left;
  list-style-type: none;
}
body aside .container .classitem2 ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
body aside .container .classitem2 img {
  position: absolute;
  top: 20px;
  left: 460px;
}
body aside .container .classitem3 {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 30px 75px -35px rgba(35, 68, 126, 0.388877);
  border-radius: 15px;
  height: 200px;
}
body aside .container .classitem3 h1 {
  font-weight: 700;
  font-size: 22px;
  float: left;
  position: relative;
  left: 50px;
  height: 28px;
  top: 20px;
}
body aside .container .classitem3 span {
  display: flex;
  flex-wrap: wrap;
}
body aside .container .classitem3 span:nth-child(2) {
  color: #181D39;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  opacity: 50%;
  position: relative;
  top: 22px;
  left: 60px;
}
body aside .container .classitem3 span:nth-child(4) {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  position: absolute;
  top: 25px;
  left: 500px;
}
body aside .container .classitem3 span:nth-child(5) {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 48px;
  text-align: left;
  margin-left: 50px;
  position: relative;
  top: 50px;
  display: flex;
  right: 30px;
  max-width: 300px;
}
body aside .container .classitem3 ul {
  margin-left: 0;
  height: 29px;
  margin-top: 30px;
  position: relative;
  top: 45px;
  left: 45px;
}
body aside .container .classitem3 ul li {
  padding-left: 5px;
  height: 29px;
  float: left;
  list-style-type: none;
}
body aside .container .classitem3 ul li a {
  text-decoration: none;
}
body aside .container .classitem3 img {
  position: absolute;
  top: 20px;
  left: 460px;
}
body aside .container .classitem4 {
  background-color: #FFFFFF;
  position: relative;
}
body aside .container .classitem4 h1 {
  position: relative;
  left: 40px;
  top: 25px;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  width: 44px;
}
body aside .container .classitem4 .span1 {
  display: inline;
  position: relative;
  left: 80px;
  top: 70px;
}
body aside .container .classitem4 .span2 {
  display: inline;
  position: relative;
  left: 160px;
  top: 70px;
}
body aside .container .classitem4 select {
  width: 154px;
  height: 30px;
  position: relative;
  top: 100px;
  right: 115px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
}
body aside .container .classitem4 ul {
  position: relative;
  top: 100px;
  max-width: 514px;
  height: 75px;
}
body aside .container .classitem4 ul li {
  padding: 25px 0 25px 25px;
  margin-top: 15px;
  list-style-type: none;
  background-color: #F1F6FF;
}
body aside .container .classitem4 ul li a {
  color: #181D39;
  text-decoration: none;
}
body aside .container .classitem4 ul li button {
  position: relative;
  top: 300px;
}
body aside .container .classitem4 button {
  position: relative;
  top: 350px;
  left: 40px;
  width: 152px;
  height: 71px;
  background-color: #272E69;
  color: white;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
}
body aside .container .classitem4 button:hover {
  background-color: white;
  color: #272E69;
  border: thin solid #272E69;
  transition: 500ms all ease-in-out;
}
body aside .container div:nth-child(4) {
  grid-row: 1/span 3;
  grid-column: 2;
}
body aside .footer {
  display: grid;
  grid-area: _footer;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: auto auto auto auto;
}
body aside .footer .community {
  position: relative;
  top: 30px;
}
body aside .footer .community h1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
body aside .footer .community a {
  display: block;
  padding-top: 10px;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #545D7A;
}
body aside .footer .getting {
  position: relative;
  top: 30px;
}
body aside .footer .getting h1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
body aside .footer .getting a {
  color: #545D7A;
  display: block;
  padding-top: 10px;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
body aside .footer .resources {
  position: relative;
  top: 0;
}
body aside .footer .resources h1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
body aside .footer .resources a {
  color: #545D7A;
  display: block;
  padding-top: 10px;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
body aside .footer .sub-menu {
  position: relative;
}
body aside .footer .sub-menu button {
  position: relative;
  cursor: pointer;
  border: none;
  left: 360px;
}
body aside .footer .sub-menu a {
  position: relative;
  text-decoration: none;
  padding-left: 15px;
  left: 100px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
body aside .footer .sub-menu span {
  position: relative;
  left: 15px;
}
body aside .footer .footer-item1 img {
  position: relative;
  left: 100px;
}
body aside .footer div:nth-child(1) {
  grid-row: 1;
  grid-column: 1/span 2;
}
body aside .footer div:nth-child(5) {
  grid-row: 2;
  grid-column: 1/span4;
}
@media (max-width: 1091px) {
  .header {
    display: grid;
    grid-area: _header;
    grid-template-columns: auto auto auto;
  }
  .header .logo {
    display: none;
  }

  .container .classitem4 select {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 250px;
  }
  .container .classitem4 span {
    visibility: hidden;
  }

  .footer .footer-item1 {
    display: none;
  }
  .footer .footer-item2, .footer .footer-item3, .footer .footer-item4 {
    display: flex;
    flex-direction: row-reverse;
  }
}

/*# sourceMappingURL=style.css.map */
